{
  // 使用第三方标准库
  "extends": "standard",
  // 识别.vue文件中的js
  "plugins": [
    "html"
  ],
  // 识别es6
  "parser": "babel-eslint",
  "rules": {
    "no-new": 0,
    "spaced-comment": 0,
    "space-before-function-paren": 0,
    "indent": 0
  }
}
